* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    color: black;
    font-family: "Poppins", serif;
}
header {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem ;
}
header p {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.home-page {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 2rem;
}
.sign-in {
    width:40%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #878787;
    border-radius: 10px;
    box-shadow: 0px 4px 64px 0px #0000000D;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem;
}
.welcome {
font-size: 25px;
font-weight: 300;
text-transform: capitalize;
}
.sign-in h1 {
    text-transform: capitalize;
    font-size: 31px;
    font-weight: 500;
    line-height: 46.5px;
    margin-top: 20px;
}
.about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}
.form-login {
    display: flex;
    flex-direction: column;
}
.form-login label {
    display: block;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 0;
    text-transform: capitalize;


}
.form-login input {
    display: block;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 0.5px solid ;
    text-transform: capitalize;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form-login input::placeholder {

    color: #ABABAB;
}
.remember-forget{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.check label {
    display: initial;
    width: initial;
   
}
.check input {
    display: initial;
    width: initial;
   
}

.remember-forget .forgot {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color:#4D4D4D ;
}
.btn {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    text-align:center ;
    padding: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}
.new-user {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ABABAB;
    text-transform: capitalize;

}
.new-user a {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}
.image {
    width: 60%;
    justify-content: center;
    align-items: center;

}
.image img {
    width: 100%;
}
